DirectoryIndex index.php
php_value memory_limit 512M

# No servir logs de error por HTTP directo
<FilesMatch "^error_log$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Deny from all
    </IfModule>
</FilesMatch>
